// Variables
// color
$primary-color: #28475c;
$primary-color-light: #75a3c2;
$primary-color-dark: #28475c;
$secondary-color: #f50000;
$secondary-color-dark: #6d0000;
$secondary-color-light: #f50000;
$third-color: #212121;
$text-color: #565656;

$black: #000;
$white: #fff;
$light-color: #666;
$light-bg: #f5f5f5;
$light-bg-text: #dddddda2;
$sec-title: #051622e0;

// font family
$text-font: "Sanchez", sans-serif;

$heading-font: "Poppins", sans-serif;

// Border
$border: 1rem solid rgba(0, 0, 0, 0.1);

// Shadow
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$box-shadow-2: 0 1rem 1rem rgba(0, 0, 0, 0.2);
$dark-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
