/*---------------------------
		Alignments
---------------------------*/

.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-justify {
    text-align: justify;
  }
}

/*---------------------------
		Others
---------------------------*/

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.img {
  width: 100%;
}
.container {
  max-width: 1440rem;
}
