@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sanchez&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  @include tablet {
    font-size: 55.5%;
  }
  @include smartPhone {
    font-size: 48.5%;
  }
}
body,
p,
input {
  font-size: 1.8rem;
  font-family: $text-font;
  line-height: 1.6;
  color: $text-color;
  font-weight: 500;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: $heading-font;
}
section {
  padding: 4rem 6%;
}

#scroll-to-top {
  position: fixed;
  bottom: 3%;
  right: 4%;
  background-color: $primary-color;
  color: $white;
  padding: 1.5rem 1rem;
  font-size: 3rem;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
  }
}
